Repository kubernetes-sigs/ingress2gateway, pull requests merged in 2023-08, with the labels that each got.

#46 OWNERS: add Xunzhuo to reviewers
  OWNERS
Labels: approved, cncf-cla: yes, size/XS, lgtm

#50 implement test for constructIngressFromCluster
  pkg/i2gw/ingress2gateway_test.go
  pkg/i2gw/testdata/input-file.json
  pkg/i2gw/testdata/input-file.yaml
Labels: approved, size/L, cncf-cla: yes, lgtm, ok-to-test

#40 Refactor project layout to enable multiple providers
  cmd/print.go
  cmd/print_test.go
  pkg/i2gw/aggregator_test.go
  pkg/i2gw/ingress2gateway.go
  pkg/i2gw/ingress2gateway_test.go
  pkg/i2gw/provider.go
  pkg/i2gw/providers/common/converter.go
  pkg/i2gw/providers/common/converter_test.go
  pkg/i2gw/providers/common/utils.go
  pkg/i2gw/providers/ingressnginx/canary.go
  pkg/i2gw/providers/ingressnginx/canary_test.go
  pkg/i2gw/providers/ingressnginx/converter.go
  pkg/i2gw/providers/ingressnginx/converter_test.go
  pkg/i2gw/providers/ingressnginx/ingressnginx.go
  pkg/i2gw/providers/ingressnginx/resource_reader.go
Labels: kind/feature, approved, size/XXL, tide/merge-method-squash, kind/cleanup, cncf-cla: yes, lgtm, ok-to-test

#54 Add releases workflows
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .goreleaser.yaml
  go.mod
Labels: approved, size/L, cncf-cla: yes, lgtm
