Repository kubernetes-sigs/ingress2gateway, pull requests merged in 2023-07, with the labels that each got.

#32 feat: add Build from Source
  README.md
Labels: approved, kind/documentation, needs-ok-to-test, size/S, cncf-cla: yes, lgtm

#31 Add support for resource filtering by namespace
  Makefile
  cmd/print.go
  cmd/print_test.go
  go.mod
  pkg/i2gw/ingress2gateway.go
Labels: kind/feature, approved, size/L, cncf-cla: yes, lgtm, ok-to-test

#38 Add ability to read yaml/json config file and convert ingresses to gateways
  cmd/print.go
  cmd/print_test.go
  cmd/root.go
  main.go
  pkg/i2gw/aggregator.go
  pkg/i2gw/aggregator_test.go
  pkg/i2gw/ingress2gateway.go
  pkg/i2gw/ingress2gateway_test.go
  pkg/i2gw/testdata/input-file.json
  pkg/i2gw/testdata/input-file.yaml
Labels: kind/feature, approved, size/L, tide/merge-method-squash, cncf-cla: yes, lgtm, ok-to-test

#44 Adding LiorLieberman to approvers and levikobi to reviewers
  OWNERS
Labels: approved, cncf-cla: yes, size/XS, lgtm
