Repository kubernetes-sigs/ingress2gateway, pull requests merged in 2024-05, with the labels that each got.

#156 chore: generic minor fixes
  README.md
  cmd/print.go
Labels: approved, size/M, tide/merge-method-squash, kind/cleanup, cncf-cla: yes, lgtm

#141 feat: deprecate i2gw.InputResources
  pkg/i2gw/ingress2gateway.go
  pkg/i2gw/provider.go
  pkg/i2gw/providers/apisix/apisix.go
  pkg/i2gw/providers/apisix/converter.go
  pkg/i2gw/providers/apisix/http_to_https.go
  pkg/i2gw/providers/apisix/http_to_https_test.go
  pkg/i2gw/providers/ingressnginx/canary.go
  pkg/i2gw/providers/ingressnginx/converter.go
  pkg/i2gw/providers/ingressnginx/converter_test.go
  pkg/i2gw/providers/ingressnginx/ingressnginx.go
  pkg/i2gw/providers/istio/e2e_file_converter_test.go
  pkg/i2gw/providers/istio/istio.go
  pkg/i2gw/providers/kong/converter.go
  pkg/i2gw/providers/kong/converter_test.go
  pkg/i2gw/providers/kong/header_matching.go
  pkg/i2gw/providers/kong/header_matching_test.go
  pkg/i2gw/providers/kong/kong.go
  pkg/i2gw/providers/kong/method_matching.go
  pkg/i2gw/providers/kong/method_matching_test.go
  pkg/i2gw/providers/kong/plugins.go
Labels: kind/feature, approved, size/L, cncf-cla: yes, lgtm, ok-to-test

#123 add apisix as a provider to readme and update provider guide
  README.md
Labels: approved, kind/documentation, cncf-cla: yes, size/XS, lgtm, ok-to-test

#157 OpenAPI Provider
  PROVIDER.md
  cmd/print.go
  cmd/print_test.go
  go.mod
  go.sum
  pkg/i2gw/ingress2gateway.go
  pkg/i2gw/provider.go
  pkg/i2gw/providers/openapi3/README.md
  pkg/i2gw/providers/openapi3/converter.go
  pkg/i2gw/providers/openapi3/converter_test.go
  pkg/i2gw/providers/openapi3/fixtures/input/1-petstore3.yaml
  pkg/i2gw/providers/openapi3/fixtures/input/2-hostnames.yaml
  pkg/i2gw/providers/openapi3/fixtures/input/3-parameters.yaml
  pkg/i2gw/providers/openapi3/fixtures/input/4-too-many-rules.json
  pkg/i2gw/providers/openapi3/fixtures/input/5-invalid-spec.yaml
  pkg/i2gw/providers/openapi3/fixtures/input/6-reference-grants.yaml
  pkg/i2gw/providers/openapi3/fixtures/output/1-petstore3.yaml
  pkg/i2gw/providers/openapi3/fixtures/output/2-hostnames.yaml
  pkg/i2gw/providers/openapi3/fixtures/output/3-parameters.yaml
  pkg/i2gw/providers/openapi3/fixtures/output/4-too-many-rules.json
  pkg/i2gw/providers/openapi3/fixtures/output/5-invalid-spec.yaml
  pkg/i2gw/providers/openapi3/fixtures/output/6-reference-grants.yaml
  pkg/i2gw/providers/openapi3/openapi.go
  pkg/i2gw/providers/openapi3/storage.go
Labels: kind/feature, approved, size/XXL, cncf-cla: yes, lgtm, ok-to-test
