Repository kubernetes-sigs/ingress2gateway, pull requests merged in 2024-07, with the labels that each got.

#160 Add basic support for notifications package
  PROVIDER.md
  cmd/print.go
  go.mod
  go.sum
  pkg/i2gw/ingress2gateway.go
  pkg/i2gw/notifications/notifications.go
  pkg/i2gw/providers/istio/converter.go
  pkg/i2gw/providers/istio/converter_test.go
  pkg/i2gw/providers/istio/notification.go
Labels: kind/feature, approved, kind/documentation, size/XL, tide/merge-method-squash, cncf-cla: yes, lgtm, ok-to-test

#167 Add ingress class
  go.sum
  pkg/i2gw/providers/gce/converter.go
  pkg/i2gw/providers/gce/converter_test.go
Labels: kind/bug, approved, size/S, cncf-cla: yes, lgtm

#170 Unit test for notifications
  pkg/i2gw/notifications/notifications_test.go
Labels: kind/feature, approved, size/L, cncf-cla: yes, lgtm, ok-to-test

#171 Added notifications for Istio Gateway conversion
  pkg/i2gw/providers/istio/converter.go
  pkg/i2gw/providers/istio/converter_test.go
Labels: kind/feature, approved, size/M, cncf-cla: yes, lgtm, ok-to-test
